*{
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    overflow: hidden;
}

.main{
    padding: 8em;
}



.main{
    margin: 1rem; 
    padding: 1rem; 
    border: 1px solid white;
    border-radius: .5rem;
}


@media only screen and (min-width: 760px){
    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }
}